<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

    <title>아파트 실거래가 검색</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">부동산실거래조회</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
       
            </ul>
          </div>
        </div>
      </nav>


      <div class="parent container d-flex justify-content-center align-items-center h-100">
        <div class="child"> 
            <h1>부동산 실거래가 조회</h1>
            <h3>최근 거래된 아파트의 실거래가를 조회 합니다. </h3>
            <form action="{{url_for('index')}}" method="post">
              <label  for="">아파트 주소: </label>
                <div class="input-group mb-3">
                  <input type="text"  id="address_kakao" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="address">
                </div>
               

                <!-- <label for="">상  세 주 소: </label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" name="address_detail">
                </div> -->
                
              <button id="post_addr" class="btn btn-dark" type="submit">실거래가 검색하기</button>
              
              <div id="postcode_layer" style="display:none;position:absolute;width:500px;height:600px;border:1px solid black;z-index:100;background-color:white;">
                <!-- 카카오 API가 불러오는 iframe이 삽입될 부분 -->
              </div>
          </form>
        
          <div class="container"></div>
            <h1>실거래가 정보</h1>
            <!-- DataFrame HTML 테이블 출력 -->
            <div>{{ table_html|safe }}</div>
          </div>
          
        </div>
      </div>

     


    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>



    <script>
        window.onload = function(){
          document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
        //카카오 지도 발생
        var postcode = new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                document.getElementById("address_kakao").value = data.address; // 주소 넣기
                document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
                  
                // 팝업 창 (iframe을 감싸고 있는 div) 닫기
                document.getElementById("postcode_layer").style.display = 'none';   
                  }
                });
                // postcode.open();
                // 팝업 창을 버튼 아래로 위치시키기
                  var button = document.getElementById("post_addr");
                  var buttonPosition = button.getBoundingClientRect(); // 버튼의 위치 및 크기 정보 가져오기

                 // 팝업 열기
                var popupLayer = document.getElementById("postcode_layer")
                var windowHeight = window.innerHeight; // 화면의 높이 가져오기

                 // 팝업의 최대 높이를 화면의 남은 공간에 맞추기
                var maxHeight = windowHeight - buttonPosition.bottom - 90; // 화면 바닥에서 20px 여유
                popupLayer.style.maxHeight = maxHeight + "px";
                popupLayer.style.overflowY = "auto"; // 넘칠 경우 세로 스크롤 추가

                popupLayer.style.top = (buttonPosition.bottom + 5) + "px"; // 버튼 아래로 2px 이동
                popupLayer.style.left = buttonPosition.left + "px"; // 버튼의 왼쪽 정렬과 맞춤
                
                // 팝업 열기
                postcode.embed(popupLayer);

                  // 팝업 창 보이기
                  popupLayer.style.display = 'block';
            });
        }
    </script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> -->
</body>
</html>